@page "{deckID:int?}"
@model PlayDeckRazor.Pages.Games.EditModel

@{
    ViewData["Title"] = "New Card";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@* Displays a form for adding a new game entry or editing an existing one *@

<div>
    <div class="d-flex flex-column justify-content-center" style="max-width: 60vw;">
        <form method="post" class="form-panel d-flex flex-column form-control-lg justify-content-center" style="gap: 0.7vw; max-width: 60vw;">
            <h1 class="mb-3">@Model.PageHeader</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (Model.EditMode)
                {
                    <input type="hidden" asp-for="Game.ID"/>
                }
            }
            <div class="d-flex">
                <div class="input-group" style="margin-right: 0.5vw;">
                    <label asp-for="Game.Title" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.Title" class="form-control"/>
                </div>
                <div class="input-group">
                    <label asp-for="Game.DeckID" class="input-group-text" style="font-weight: bold">Select Deck</label>
                    <select asp-for="Game.DeckID" asp-items="@Model.Decks" class="form-select form-select-lg"></select>
                </div>
            </div>
            <div class="input-group">
                <label asp-for="Game.ImageURL" class="input-group-text" style="font-weight: bold"></label>
                <input asp-for="Game.ImageURL" class="form-control" placeholder="e.g. https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/ac79bc4536e67368f7a054716ebdf36f.png"/>
            </div>
            <div class="d-flex" style="gap: 0.5vw;">
                <div class="input-group">
                    <label asp-for="Game.PlayStatus" class="input-group-text" style="font-weight: bold">Play Status</label>
                    <select asp-for="Game.PlayStatus" asp-items="@Model.Statuses" class="form-select form-select-lg"></select>
                </div>
                <div class="input-group">
                    <label asp-for="Game.StartDate" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.StartDate" class="form-control"/>
                </div>
                <div class="input-group">
                    <label asp-for="Game.CompleteDate" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.CompleteDate" class="form-control"/>
                </div>
            </div>
            <div class="input-group">
                <div class="d-flex" style="width: 60vw;">
                    <label asp-for="Game.Rating" class="form-label" style="font-weight: bold"></label>
                    <div style="margin-left: auto">
                        @{
                            if (Model.EditMode)
                            {
                                <label id="rating-label" style="margin-left: auto">@Model.Game.Rating</label>
                            }
                            else
                            {
                                <label id="rating-label" style="margin-left: auto">5</label>
                            }
                        }
                        <span style="margin-left: auto">/10</span>
                    </div>
                </div>
                <input type="range" min="0" max="10" asp-for="Game.Rating" class="form-range" id="game-rating"
                       onchange="document.getElementById('rating-label').innerHTML = document.getElementById('game-rating').value;"/>
            </div>
            <div class="d-flex" style="gap: 0.5vw;">
                <div class="input-group">
                    <label asp-for="Game.PlayTime" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.PlayTime" type="number" min="0" max="100000" step="0.5" class="form-control"/>
                    <span class="input-group-text" style="font-weight: bold">Hours</span>
                </div>
                <div class="input-group">
                    <label asp-for="Game.LastPlayed" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.LastPlayed" class="form-control"/>
                </div>
            </div>
            <div class="validation-errors d-flex flex-column">
                <span asp-validation-for="Game.StartDate" class="text-danger"></span>
                <span asp-validation-for="Game.PlayStatus" class="text-danger"></span>
                <span asp-validation-for="Game.ImageURL" class="text-danger"></span>
                <span asp-validation-for="Game.DeckID" class="text-danger"></span>
                <span asp-validation-for="Game.Title" class="text-danger"></span>
                <span asp-validation-for="Game.CompleteDate" class="text-danger"></span>
                <span asp-validation-for="Game.Rating" class="text-danger"></span>
                <span asp-validation-for="Game.PlayTime" class="text-danger"></span>
                <span asp-validation-for="Game.LastPlayed" class="text-danger"></span>
            </div>
            <div class="submit-button-container d-flex">
                @{
                    if (Model.EditMode)
                    {
                        <input type="submit" value="Save" class="btn btn-primary submit-button" style="margin-left: auto" title="Save changes"/>
                    }
                    else
                    {
                        <input type="submit" value="Create" class="btn btn-primary submit-button" style="margin-left: auto" title="Submit the new card"/>
                    }
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
