<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PlayDeck</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PlayDeckRazor.styles.css" asp-append-version="true"/>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index" ><img class="logo-header" src="/Resources/Logo Large.png" alt="Play Deck logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" style="gap: 1vw; color: whitesmoke">
                    <li class="nav-item mt-5 social-link" style="font-size: 1.5vw; margin-left: 2vw">
                        <a class="bi bi-house-door-fill" href="/Index" title="Home"></a>
                    </li>
                    <li class="nav-item mt-5 social-link" style="font-size: 1.5vw;">
                        <a class="bi bi-github" href="https://github.com/Doochey/PlayDeck" title="Github Repo" target="_blank"></a>
                    </li>
                    <li class="nav-item mt-5 social-link" style="font-size: 1.5vw">
                        <a class="bi bi-twitter" href="https://twitter.com/PlayDeckDev" title="@@PlayDeck twitter" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    <div class="container d-flex" style="gap: 1.5vw;">
        <div>
            &copy; 2023 - Connor Douch
        </div>
        <div>
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#d82929', 'K3K4LMW7G');kofiwidget2.draw();</script>  
        </div>
        <div class="d-flex">
                <ul class="d-flex" style="gap: 1vw; color: whitesmoke; list-style-type: none; padding-left: 0">
                    <li class="social-link" style="font-size: 1.5vw;">
                        <a class="bi bi-github" href="https://github.com/Doochey/PlayDeck" title="GitHub Repo" target="_blank"></a>
                    </li>
                    <li class="social-link" style="font-size: 1.5vw">
                        <a class="bi bi-twitter" href="https://twitter.com/PlayDeckDev" title="@@PlayDeck Twitter" target="_blank"></a>
                    </li>
                </ul>
            </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>