@model PlayDeckRazor.Pages.Shared._ModalGameDetailsModel

@* Displays a form for adding a new game entry or editing an existing one *@

<div id="modal-edit-data">
    <div class="d-flex flex-column justify-content-center" style="max-width: 60vw;">
        <form x-on:submit.prevent="{}" id="edit-modal-form" method="post" class="form-panel d-flex flex-column form-control-lg justify-content-center" style="gap: 0.7vw; max-width: 60vw;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.ID" x-model="gameId"/>
            <div class="d-flex">
                <div class="input-group" style="margin-right: 0.5vw;">
                    <label asp-for="Game.Title" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.Title" class="form-control" x-bind:value="gameTitle"/>
                </div>
                <div class="input-group">
                    <label asp-for="Game.DeckID" class="input-group-text" style="font-weight: bold">Select Deck</label>
                    <select asp-for="Game.DeckID" asp-items="@Model.Decks" class="form-select form-select-lg" x-bind:value="deckId"></select>
                </div>
            </div>
            <div class="input-group">
                <label asp-for="Game.ImageURL" class="input-group-text" style="font-weight: bold"></label>
                <input asp-for="Game.ImageURL" class="form-control" x-bind:value="imageUrl"/>
            </div>
            <div class="d-flex" style="gap: 0.5vw;">
                <div class="input-group">
                    <label asp-for="Game.PlayStatus" class="input-group-text" style="font-weight: bold">Play Status</label>
                    <select asp-for="Game.PlayStatus" asp-items="@Model.Statuses" class="form-select form-select-lg" x-bind:value="playStatus"></select>
                </div>
                <div class="input-group">
                    <label asp-for="Game.StartDate" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.StartDate" class="form-control" x-bind:value="startDate"/>
                </div>
                <div class="input-group">
                    <label asp-for="Game.CompleteDate" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.CompleteDate" class="form-control" x-bind:value="completeDate"/>
                </div>
            </div>
            <div class="input-group">
                <div class="d-flex" style="width: 60vw;">
                    <label asp-for="Game.Rating" class="form-label" style="font-weight: bold"></label>
                    <div style="margin-left: auto">
                        <label id="rating-label" style="margin-left: auto" x-text="rating"></label>
                        <span style="margin-left: auto">/10</span>
                    </div>
                </div>
                <input x-bind:value="rating" type="range" min="0" max="10" asp-for="Game.Rating" class="form-range" id="game-rating"
                       onchange="document.getElementById('rating-label').innerHTML = document.getElementById('game-rating').value;"/>
            </div>
            <div class="d-flex" style="gap: 0.5vw;">
                <div class="input-group">
                    <label asp-for="Game.PlayTime" class="input-group-text" style="font-weight: bold"></label>
                    <input x-bind:value="playTime" asp-for="Game.PlayTime" type="number" min="0" max="100000" step="0.5" class="form-control"/>
                    <span class="input-group-text" style="font-weight: bold">Hours</span>
                </div>
                <div class="input-group">
                    <label asp-for="Game.LastPlayed" class="input-group-text" style="font-weight: bold"></label>
                    <input asp-for="Game.LastPlayed" class="form-control" x-bind:value="lastPlayed"/>
                </div>
            </div>
            <div class="validation-errors d-flex flex-column">
                <span asp-validation-for="Game.StartDate" class="text-danger"></span>
                <span asp-validation-for="Game.PlayStatus" class="text-danger"></span>
                <span asp-validation-for="Game.ImageURL" class="text-danger"></span>
                <span asp-validation-for="Game.DeckID" class="text-danger"></span>
                <span asp-validation-for="Game.Title" class="text-danger"></span>
                <span asp-validation-for="Game.CompleteDate" class="text-danger"></span>
                <span asp-validation-for="Game.Rating" class="text-danger"></span>
                <span asp-validation-for="Game.PlayTime" class="text-danger"></span>
                <span asp-validation-for="Game.LastPlayed" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
